* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navBar{
    display: flex ; 
    align-items: center;
    padding: 20px ; 
}

nav{
    flex : 1 ; 
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    color : #555
}

a{
    text-decoration: none;
    color: #555;

}

p{
    color: #555;
}


.containter {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 50%;
    min-width: 300px;
}

.col img {
    max-width: 100%;
    padding: 50px 0;
    padding-left: 130px;
}

.col h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
}

.btn {
    display: inline-block;
    background: #A38128;
    color: white;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.35s;
}

.header {
    background: radial-gradient(#fff , #E6D097);
}



/* #floatingActionButton {
    background: #55b947;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 2%;
    bottom: 3%;
    margin: 10px;
} */



.header row{
    margin-top: 70px;
}

.btn:hover {
    background-color: white;
    color: #A38128 ;
}
                    
.car{
    margin: 70px 0;

}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.smallContainer {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25xp;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align: right;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
    
}
.title {
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #A38128;
}

.title::after {
    content: '';
    background: #A38128;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color : #A38128 ; 
    font-weight: normal;
    font-size: 22px;

}

.col-4 p {
    font-size: 16px;
}

.col-4:hover{
    transform: translateY(-10px);
    
}

#takeTime {
    transition: transform 2s;
}



/*  Footer */


.footer {
    background: #A38128 ;
    color: white ;
    font-size: 14px;
    padding :  70px ; 
}

footerColOne{
    flex-basis: 30%;
    
}


footerColTwo{
    flex-basis: 30%;
}

footerColThree{
    flex-basis: 30%;
}


.liii{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
}
#whatsIcon {
    padding-left: 13px ;
}
#instaIcon{
    padding-left: 10px ;
    align-items: center;
}